.header {
  background-image: url('C:\1 User\Photography\photography-portfolio\photography-portfolio\src\assets\images\LandingBG.jpg'); /* Path to your image */
  background-size: cover; /* Ensure the image covers the entire header */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 100vh;
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  padding-right: 5%;
  box-sizing: border-box;
}

.header-content {
  /* max-width: 100%;
  margin: 0 auto; */
  max-width: 600px;
}

.header h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.667);
}

.header h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
  letter-spacing: 0.9rem;
  color: rgba(255, 255, 255, 0.667);
}

.header nav {
  margin-top: 1rem;
}

.header nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

.header nav a:hover {
  color: #555;
}

@media (max-width: 900px) {
  .header {
    justify-content: center;
    text-align: center;
    padding-right: 0;
  }

  .header-content {
    max-width: 100%;
    padding: 0 1rem;
  }

  .header h1 {
    font-size: 2.5rem;
  }

  .header h2 {
    font-size: 1.5rem;
  }

  .header nav a {
    display: block;
    margin: 0.5rem 0;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.2rem;
  }

  .header h2 {
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
  }

  .header nav a {
    font-size: 1rem;
    margin: 0.3rem 0;
  }
}